<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>New client</title>
</head>

<body>

<div th:insert="~{menunavy::navy}"></div>
<h1 th:text="#{client.btn.new}"></h1>

<form th:action="@{/clients/add-client}" th:object="${client}" method="post" class="container">

    <div class="mb-2">
        <label th:text="#{object.user.name}"></label>
        <input type="text" class="form-control" th:field="*{name}">
        <div class="text-danger" th:errors="*{name}"></div>
    </div>

    <div class="mb-2">
        <label th:text="#{object.user.email}"></label>
        <input type="text" class="form-control" th:field="*{email}">
        <div class="text-danger" th:errors="*{email}"></div>
    </div>

    <div class="mb-2">
        <label th:text="#{object.user.password}"></label>
        <input type="password" class="form-control" th:field="*{password}">
        <div class="text-danger" th:errors="*{password}"></div>
    </div>

    <div class="mb-3">
        <label th:text="#{object.client.card}"></label>
        <input type="text" class="form-control" th:field="*{card}">
        <div class="text-danger" th:errors="*{card}"></div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="reset" value="Reset" class="btn btn-secondary">
</form>

<div th:insert="~{footer::footer}"></div>

</body>
</html>
