<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Employee</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-4">

    <h2>Edit Employee</h2>

    <form th:action="@{/employees/{id}/edit(id=${employee.id})}"
          th:object="${employee}"
          method="post">

        <input type="hidden" th:field="*{id}"/>


        <div class="mb-3">
            <label>Name</label>
            <input type="text" th:field="*{name}" class="form-control"/>
            <div class="text-danger" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" th:field="*{email}" class="form-control"/>
            <div class="text-danger" th:errors="*{email}"></div>
        </div>

        <div class="mb-3">
            <label>Department</label>
            <input type="text" th:field="*{department}" class="form-control"/>
            <div class="text-danger" th:errors="*{department}"></div>
        </div>


        <button class="btn btn-primary" type="submit">Save</button>
        <a th:href="@{/employees}" class="btn btn-secondary">Cancel</a>

    </form>
</div>

</body>
</html>
